.contacts {
  padding-top: 120px;
  padding-bottom: 120px;

  &__image {
    margin-right: 20px;
    flex-shrink: 0;

    @include tablet {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: block;
    }


  }
}
