.page-hero {
  padding-top: 153px;
  padding-bottom: 80px;
  min-height: 600px;
  background-position: right -8px top;
  background-repeat: no-repeat;
  background-color: var(--color-athens);

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-ebony);

    @include mobile {
      font-size: 40px;
      line-height: 54px;
    }
  }

  &__descr {
    margin: 0;
    max-width: 600px;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);

    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__meta {
    .article-meta__item {
      font-size: 16px;
      line-height: 160%;

      &:first-child {
        font-weight: 700;
        color: var(--color-primary);
      }
      &:nth-child(2) {
        padding-left: 28px;
        background-image: url('../img/time.svg');
        background-position: left center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
      }
    }
    .article-meta__item:not(:last-child)::after {
      height: 16px;
      right: -17px;
    }

    .article-meta__item:not(:last-child) {
      margin-right: 25px;
    }
    .article-meta__item--comments {
      background-size: 20px 20px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__social {
    .social__link {
      svg {
        fill: var(--color-storm);
      }
    }
  }

  &--services {
    background-image: url('../img/hero-services-bg.png');
  }
  &--inner {
    background-image: url('../img/hero-services-1-bg.png');
  }
  &--work {
    background-image: url('../img/hero-work-bg.png');
  }
  &--about {
    background-image: url('../img/about-us-bg.png');
  }
  &--news {
    background-image: url('../img/news-hero-bg.png');
  }
  &--positions {
    background-image: url('../img/positions-bg.png');
    background-position: right -9px bottom;
  }
  &--contacts {
    background-image: url('../img/hero-contacts-bg.png');
    background-position: right -9px bottom;
  }
  &--post {
    .page-hero__title {
      margin-bottom: 48px;
      font-weight: 700;
      font-size: 64px;
      line-height: 120%;
      text-transform: initial;
      letter-spacing: 1px;
      max-width: none;

      @include minitablet {
        font-size: 45px;
        line-height: 58px;
      }
      @include mobile {
        font-size: 35px;
        line-height: 48px;
      }
    }
    @include minidesk {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    background-image: none;
    min-height: auto;
  }
}
