.recent-news {
  padding: 80px 0;
  padding-bottom: 120px;
  background-color: var(--color-light);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    grid-template-rows: repeat(2, 255px);
    margin-bottom: 80px;

    @include tablet {
      grid-template-rows: initial;
    }
  }

  &__item {
    grid-column: span 5;

    &:first-child {
      grid-column: span 7;
      grid-row: span 2;

      @include tablet {
        grid-column: span 12;
        grid-row: auto;
      }
      @include mobile {
        grid-column: span 4;
      }
    }

    @include tablet {
      grid-column: span 12;
    }
    @include mobile {
      grid-column: span 4;
    }
  }
}


